---
layout: default
---
{% include guide_nav.html %}
<div class="content">
{{ content }}
</div>
{% include guide_nav.html %}
<nav class="return"><a href="./">return to index</a></nav>
<script>
    MathJax = {
        options: {
            ignoreHtmlClass: 'tex2jax_ignore',
            processHtmlClass: 'tex2jax_process',
            renderActions: {
                
            }
        },
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            packages: {
                '[+]': ['boldsymbol']
            },
            tags: 'ams'
        },
        loader: {
            load: ['[tex]/noerrors','[tex]/boldsymbol']
        }
    };
</script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>